// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal6', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Uber Advanced Technologies Group
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/Uber.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | I started working at Uber as a Triage Operations Analyst where I would problem solve and assess how the Autonomous Vehicle's performance. In February, I started working in a Software Engineer role where I worked on building a Reporting Tool for the Triage team. After that was complete, I transitioned to improving our Workflow Manager tool. I implemented bulk edit, nesting of tables and overall UI and UX improvements
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window